<h5 class="Header"><p class="headerNumber">02</p>MEET YOUR CREW</h5>

<section class="personnelSection">
    <article class="personnelText">

        <div class="textContainer">
            <p class="role">{{person.role}}</p>
            <p class="name">{{person.name}}</p>
            <p class="bio">{{person.bio}}</p>
        </div>

    <ul class="personnelList">
        <li *ngFor="let listItem of crew" id={{listItem.name}} [routerLink]="['/crew',listItem.name]"></li>
    </ul>  
    </article>


    <img src={{person.images.png}} alt="personnel photo">
</section>