<section class="personnelContainer">
    <h5 class="Header"><p class="headerNumber">02</p>MEET YOUR CREW</h5>

    <section class="personnelSection">
        <article class="personnelText">

            <div class="textContainer">
                <p class="role">{{person.role}}</p>
                <p class="name">{{person.name}}</p>
                <p class="bio">{{person.bio}}</p>
            </div>

        <ul class="personnelList">
            <li *ngFor="let listItem of crewMembers" id={{listItem}} [routerLink]="['/crew',listItem]" routerLinkActive="Active"></li>
        </ul>  
        </article>
        <div class="imageContainer">
            <img class="image" (window:resize)="getImage()" [src]="getImage()" alt="personnel photo">
        </div>
    </section>
</section>