.background{
    background-image: url(../../../../assets/destination/background-destination-mobile.jpg);
    background-size: cover;
    z-index: -20;
    position: fixed; 
    top: 0; 
    left: 0; 
    background-repeat: no-repeat;
    min-width: 100%;
    min-height: 100%;
}
.Header p{
    font-family: 'Barlow Condensed', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    
    color: #FFFFFF;
    
    mix-blend-mode: normal;
    opacity: 0.25; 
}
.Header{
    display: flex;
    justify-content: center;
    margin-top: 24px;
}
.Header{
    font-family: 'Barlow Condensed', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    text-transform: uppercase;

    color: #FFFFFF;
}

.Header p{
    margin-right: 18px;
}

.planetList{
    list-style: none;
}

@media only screen and (min-width: 1200px) {
    .background{
        background-image: url(../../../../assets/destination/background-destination-desktop.jpg);
    }
    
    .Header{
        margin-top: 76px;
        justify-content: flex-start;
        margin-left: 165.5px;
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 34px;
        letter-spacing: 4.725px;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    .Header p{
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 34px;
        letter-spacing: 4.725px;
        mix-blend-mode: normal;
        opacity: 0.25;
    }
}