
<section class="large">
    <img src="../../../../assets/shared/logo.svg" alt="space-tourism logo">
    <span class="hr"></span>
    <nav class="navItems">
        <a class="navItem" routerLinkActive="active" routerLink="/home">HOME</a>
        <a class="navItem" routerLinkActive="active"  routerLink="/destination">DESTINATION</a>
        <a class="navItem" routerLinkActive="active"  routerLink="/crew">CREW</a>
        <a class="navItem" routerLinkActive="active"  routerLink="/technology">TECHNOLOGY</a>
    </nav>
</section>


<section class="mobile">

</section>

